@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@()(implicit request: play.api.mvc.RequestHeader)

@main() {
    @* And here's where we render the `Html` object containing
    * the page content. *@
    <div id="main"></div>
    <script src="@routes.Assets.versioned("javascripts/dist/alerts.js")" type="text/javascript"></script>
}
