@()(implicit request: play.api.mvc.RequestHeader)

@main() {
    @* And here's where we render the `Html` object containing
    * the page content. *@
    <div id="main"></div>
    <script src="@routes.Assets.versioned("javascripts/dist/correlations.js")" type="text/javascript"></script>
}
