@()(implicit request: play.api.mvc.RequestHeader)

@main() {

    <div class="container">

        <div class="starter-template">
            <h1>Machines management</h1>
            <p class="lead">
                <a class="btn btn-default" href="@routes.Application.alertsHtml()" role="button">Alerts</a>
                <a class="btn btn-default" href="@routes.Application.correlationsHtml()" role="button">Correlations</a>
            </p>
        </div>

    </div>
}